<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <corrivate_rest_api_logger>
            <general>
                <enabled>0</enabled>
                <safer_mode>1</safer_mode>
                <include_headers>0</include_headers>
            </general>
        </corrivate_rest_api_logger>
    </default>
</config>
