<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Corrivate\RestApiLogger\Logger\RestApiLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/rest_api.log</argument>
        </arguments>
    </virtualType>

    <!--
    Normal API transactions are logged at debug level,
    but we want to be able to inject problems into the main Magento logging stream too
    -->
    <type name="Corrivate\RestApiLogger\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">rest_api</argument>
            <argument name="handlers" xsi:type="array">
                <item name="rest_api" xsi:type="object">Corrivate\RestApiLogger\Logger\RestApiLogHandler</item>
                <item name="debug" xsi:type="object">\Magento\Framework\Logger\Handler\Debug</item>
                <item name="system" xsi:type="object">\Magento\Framework\Logger\Handler\System</item>
                <item name="exception" xsi:type="object">\Magento\Framework\Logger\Handler\Exception</item>
            </argument>
        </arguments>
    </type>


    <!-- log incoming requests -->
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="Corrivate_RestApiLogger_Plugin_Magento_WebApiLoggerController_Rest"
                type="Corrivate\RestApiLogger\Plugin\Magento\Webapi\Controller\RestPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!-- log outgoing responses -->
    <type name="Magento\Framework\Webapi\Rest\Response">
        <plugin name="Corrivate_RestApiLogger_Plugin_Magento_WebApiLoggerController_Rest_Response"
                type="Corrivate\RestApiLogger\Plugin\Magento\Webapi\Controller\RestPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
