parameters:
    #    phpVersion: 70400 # also supported
    #    phpVersion: 80100 # also supported
    phpVersion: 80200 # also supported
    level: 8
    paths:
        # expecting you to run this from project root,
        # epecting the package to located in {project root}/packages/corrivate/magento2-rest-api-logger
        # expecting you to be using composer "path" repository for local development
        - src
    ignoreErrors:
        # Magento makes use of some methods defined on the concrete class, but not the interface
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface::#'

        # These methods are only used for debugging
        - '#Method Corrivate\\RestApiLogger\\Helpers\\FilterProcessor::reportPolicy\(\) is unused.#'
        - '#Method Corrivate\\RestApiLogger\\Helpers\\FilterProcessor::reportMatch\(\) is unused.#'
    excludePaths:
        - tests/*
