parameters:
#    phpVersion: 70400 # also supported
#    phpVersion: 80100 # also supported
#    phpVersion: 80200 # also supported
#    phpVersion: 80300 # also supported
    phpVersion: 80400 # also supported
    level: 8
    paths:
        - src
    ignoreErrors:
        # Magento makes use of some methods that are defined on the concrete class, but not the interface :(
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface::#'
    excludePaths:
        - tests/*

# You should be using PHPStan while located in your main Magento project directory, so that symbol discovery works correctly.
