& when (@media-common = true) {
    #corrivate_rest_api_logger_request_filters .form-list,
    #corrivate_rest_api_logger_response_filters .form-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        colgroup.scope-label,
        colgroup.label {
            display: none;
        }

        > tbody > tr {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .label {
                padding-top: 0;
                text-align: left;
                width: 100%;

                span::before {
                    left: 0;
                    right: initial;
                }
            }

            .value {
                margin-top: 25px;
                padding-top: 0;
                width: 100%;
            }

            td > ul {
                margin-left: 20px;
            }
        }
    }
}
