<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="corrivate_rest_api_logger" type="text" sortOrder="103" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Rest API Logger</label>
            <tab>service</tab>
            <resource>Corrivate_RestApiLogger::config</resource>


            <group id="general" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <comment><![CDATA[
                <p>API requests will be logged to <strong>/var/log/rest_api.log</strong></p>
                <p style="color:red;">API logging can reveal sensitive data. Use at your own responsibility.</p>
                ]]></comment>

                <field id="enabled" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <comment>
                        <![CDATA[<span style="color:DarkOrange;">Make sure that logrotate is correctly configured before enabling these logs.</span>]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="safer_mode" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Safer Mode</label>
                    <comment>
                        <![CDATA[
                        <p>In safer mode, some custom filters are always active to help mask sensitive data:</p>
                        <ul>
                            <li>Header logging is disabled.</li>
                            <li>request body contains "street" =&gt; censor both</li>
                            <li>response body contains "street" =&gt; censor response</li>
                        </ul>
                        <p>Safer mode is not guaranteed to mask all sensitive data. It is intended as a helpful starting point.</p>
                        ]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="include_headers" translate="label" type="select" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Include request/response headers</label>
                    <comment><![CDATA[
                    <p><span style="color:red;">Logging full headers can reveal sensitive information.</span> Activate only for short periods and if strictly necessary.</p>
                    <p>Authorization headers will always be hashed. You can compare a hashed header against the SHA-256 hash of known credentials:</p>
                    <pre>$hashedCredentials == hash('sha256', $knownCredentials)</pre>
                    ]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="corrivate_rest_api_logger/general/safer_mode">0</field>
                    </depends>
                </field>
            </group>


            <group id="methods" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>HTTP Methods</label>

                <field id="request_title" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles of requests using these methods</label>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <frontend_model>\Corrivate\RestApiLogger\Block\System\Config\Form\Multiselect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="request_body" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles and bodies of requests using these methods</label>
                    <comment>
                        <![CDATA[<span style="color:red;">Logging request bodies can reveal sensitive information.</span>]]></comment>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <frontend_model>\Corrivate\RestApiLogger\Block\System\Config\Form\Multiselect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="response_title" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles of responses to requests using these methods</label>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <frontend_model>\Corrivate\RestApiLogger\Block\System\Config\Form\Multiselect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="response_body" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles and response bodies to requests using these methods</label>
                    <comment>
                        <![CDATA[<span style="color:red;">Logging response bodies can reveal sensitive information.</span>]]></comment>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <frontend_model>\Corrivate\RestApiLogger\Block\System\Config\Form\Multiselect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>


            <group id="services" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>REST API services</label>
                <comment><![CDATA[Include or exclude specific API endpoints. These are documented <a href="https://developer.adobe.com/commerce/webapi/rest/quick-reference/" target="_blank">here</a>.]]></comment>

                <field id="include_services" translate="label comment" type="multiselect" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Include logging services</label>
                    <source_model>Corrivate\RestApiLogger\Model\Config\Source\Services</source_model>
                    <frontend_model>\Corrivate\RestApiLogger\Block\System\Config\Form\Multiselect</frontend_model>
                    <comment>Include only calls to these services. Leave empty to not apply this filter.</comment>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="exclude_services" translate="label comment" type="multiselect" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable logging services</label>
                    <source_model>Corrivate\RestApiLogger\Model\Config\Source\Services</source_model>
                    <frontend_model>\Corrivate\RestApiLogger\Block\System\Config\Form\Multiselect</frontend_model>
                    <comment>Exclude calls to these services from logging. This trumps including a service.</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>


            <group id="filters" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Custom Filters</label>
                <comment>
                    <![CDATA[
                    <p>Custom filters allow you to inspect the request and/or response to determine if logging should happen.
                    It is possible to inspect the request, and decide how to filter the response to <em>that</em> request.
                    ]]>
                </comment>


                <field id="filter_rows" translate="label" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Filters</label>
                    <comment>
                    <![CDATA[
                    <h2>Aspects</h2>
                    <ul>
                        <li><strong>HTTP methods</strong> used in the Magento 2 REST API are: GET, POST, PUT, DELETE.</li>
                        <li><strong>route</strong> is the full URI, so can be used to filter by domain, store code, <a href="https://developer.adobe.com/commerce/webapi/rest/quick-reference/" target="+"_blank">API endpoint</a> and query string parameters.</li>
                        <li><strong>HTTP status code</strong> can be used to check the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">status code</a> of the response.</li>
                        <li><strong>IP address</strong> allows filtering by client address.</i>
                        <li><strong>User agent</strong> allows filtering by client address.</i>
                        <li><strong>request body</strong> searches the contents of the request body (if any). Works best with "contains"/"does not contain" filters.</i>
                        <li><strong>response body</strong> searches the contents of the response body (if any). Works best with "contains"/"does not contain" filters.</i>

                    </ul>

                    <p>Comparisons are case-insensitive.</p>
                    <br/>

                    <h2>Filters</h2>
                    <ul>
                        <li>If <em>any</em>&nbsp;&nbsp;<strong>forbid</strong> filter applies, the whole request/response will not be logged.</li>
                        <li>If <em>any</em> <strong>censor</strong> filter applies, the request/response body will be redacted.</li>
                        <li><em>All</em> specified <strong>required</strong> filters must be satisfied, otherwise the request/response will not be logged.</li>
                        <li>If <strong>allow</strong> filters are specified for requests or responses, <em>one</em> of them must be satisfied.</li>
                    </ul>

                    ]]>
                    </comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\Filters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
