<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="corrivate_rest_api_logger" type="text" sortOrder="103" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Rest API Logger</label>
            <tab>service</tab>
            <resource>Corrivate_RestApiLogger::config</resource>


            <group id="general" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <comment><![CDATA[
                <p>API requests will be logged to <strong>/var/log/rest_api.log</strong></p>
                <p style="color:red;">API logging can reveal sensitive data. Use at your own responsibility.</p>
                ]]></comment>

                <field id="enabled" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <comment>
                        <![CDATA[<span style="color:DarkOrange;">Make sure that logrotate is correctly configured before enabling these logs.</span>]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="safer_mode" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Safer Mode</label>
                    <comment>
                        <![CDATA[
                        <p>In safer mode, some custom filters are always active to help mask sensitive data:</p>
                        <ul style="margin-left: 20px">
                            <li>Header logging is disabled.</li>
                            <li>request body contains "street" =&gt; censor both</li>
                            <li>response body contains "street" =&gt; censor response</li>
                            <li>Request URLs containing these parts =&gt; censor both<br/>
                                <ul style="margin-left: 20px">
                                    <li>/V1/applepay</li>
                                    <li>/V1/braintree</li>
                                    <li>/V1/carts</li>
                                    <li>/V1/creditmemo</li>
                                    <li>/V1/customers</li>
                                    <li>/V1/guest-carts</li>
                                    <li>/V1/inventory/get-latlng-from-address</li>
                                    <li>/V1/inventory/get-latslngs-from-address</li>
                                    <li>/V1/invoices</li>
                                    <li>/V1/orders</li>
                                    <li>/V1/shipment</li>
                                    <li>/V1/tfa</li>
                                </ul>
                            </li>
                        </ul>
                        <p>Safer mode is not guaranteed to mask all sensitive data. It is intended as a helpful starting point.</p>
                        ]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="include_headers" translate="label" type="select" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Include headers in logs</label>
                    <comment><![CDATA[
                    <p><span style="color:red;">Logging full headers can reveal sensitive information.</span> Activate only for short periods and if strictly necessary.</p>
                    <p>Authorization headers will always be hashed. You can compare a hashed header against the SHA-256 hash of known credentials:</p>
                    <pre>$hashedCredentials == hash('sha256', $knownCredentials)</pre>
                    ]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="corrivate_rest_api_logger/general/safer_mode">0</field>
                    </depends>
                </field>
            </group>


            <group id="request_filters" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Request Filters</label>

                <field id="method" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>HTTP Request Methods</label>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\HttpMethodFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>


                <field id="endpoint" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Endpoints</label>
                    <comment><![CDATA[<a href="https://developer.adobe.com/commerce/webapi/rest/quick-reference/" target="_blank">REST API service endpoints</a>]]></comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\EndpointFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>


                <field id="route" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Route</label>
                    <comment>Full URI, including domain, store code and query string.</comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\RouteFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>


                <field id="ip_address" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>IP Address</label>
                    <comment>The IP address where the request came from</comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\IpAddressFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>


                <field id="user_agent" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Agent</label>
                    <comment>The user agent sending the request</comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\UserAgentFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>


                <field id="request_body" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Request Body</label>
                    <comment>Comparisons are case-insensitive.</comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\RequestBodyFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>

            </group>


            <group id="response_filters" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Response Filters</label>

                <field id="status_code" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status Code</label>
                    <comment>
                        <![CDATA[
                        HTTP status code</strong> can be used to check the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">status code</a> of the response.
                        ]]>
                    </comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\HttpStatusFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>

                <field id="response_body" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Response Body Text</label>
                    <comment>Comparisons are case-insensitive.</comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\ResponseBodyFilters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>

            </group>

        </section>
    </system>
</config>
