<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="corrivate_rest_api_logger" type="text" sortOrder="103" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Rest API Logger</label>
            <tab>service</tab>
            <resource>Corrivate_RestApiLogger::config</resource>

            <group id="general" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>


                <comment><![CDATA[API requests will be logged to <strong>/var/log/rest_api.log</strong>]]></comment>

                <field id="enabled" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <comment>
                        <![CDATA[<span style="color:DarkOrange;">Make sure that logrotate is correctly configured before enabling these logs.</span>]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="include_headers" translate="label" type="select" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Include headers</label>
                    <comment><![CDATA[<span style="color:red;">Logging full headers can reveal sensitive information.</span>
                    (Authorization headers will be hashed.) Activate only for short periods and if strictly necessary.]]></comment>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\NoYesIUnderstand</source_model>
                </field>

            </group>

            <group id="methods" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>HTTP Methods</label>

                <field id="request_title" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles of requests using these methods</label>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="request_body" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles and bodies of requests using these methods</label>
                    <comment>
                        <![CDATA[<span style="color:red;">Logging request bodies can reveal sensitive information.</span>]]></comment>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="response_title" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles of responses to requests using these methods</label>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="response_body" translate="label" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log titles and response bodies to requests using these methods</label>
                    <comment>
                        <![CDATA[<span style="color:red;">Logging response bodies can reveal sensitive information.</span>]]></comment>
                    <source_model>\Corrivate\RestApiLogger\Model\Config\Source\HttpMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>


            <group id="filters" translate="label,comment" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Filters</label>


                <field id="filter_rows" translate="label" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Filters</label>
                    <comment>
                    <![CDATA[
                    <p>Forbid &gt; Censor &gt; Require &gt; Allow</p>
                    <ul>
                        <li>If a <strong>Forbid</strong> action applies, the request/or response will not be logged.</li>
                        <li>If a <strong>Censor</strong> filter applies, the request/or response payload will be redacted.</li>
                        <li>All <strong>Require</strong> filters must be satisfied.</li>
                        <li>If <strong>Allow</strong> filters are specified for requests or responses, <strong>one</strong> of them must be satisfied.</li>
                    </ul>
                    ]]>
                    </comment>
                    <frontend_model>\Corrivate\RestApiLogger\Block\Adminhtml\Form\FieldArray\Filters</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
